@import "../../variables.module.scss";

.Main {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  color: $background-color;
  min-height: 100vh;
  width: 100vw;
}

.CreateButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.BlogPost {
  display: flex;
  flex-direction: column;
}

.BlogPostHeader {
  display: contents;
}

.BlogPostItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $white-color;
  height: 100%;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
