@import "../../variables.module.scss";

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $primary-color;
  color: $text-color;
  height: 4rem;
}

.LogoutButton {
  background-color: transparent;
  outline: none;
  border: none;
  color: $text-color;
  cursor: pointer;
}
