apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: my-site
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: my-site
    spec:
      containers:
        - name: my-site-container
          image: my-site-image
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: MY_SITE_URL
              value: https://jfmainville.me
            - name: GMAIL_SMTP_SERVER
              value: smtp.gmail.com
            - name: GMAIL_SMTP_SERVER_PORT
              value: "587"
            - name: GMAIL_EMAIL
              value: j.f.mainville@gmail.com
            - name: GMAIL_APP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: my-site-secret
                  key: GMAIL_APP_PASSWORD
            - name: NEXT_PUBLIC_AWS_BUCKET_URL
              value: https://nuagir-my-site-sbs-usea1-prod.s3.us-east-1.amazonaws.com
          resources:
            limits:
              memory: 500Mi
            requests:
              cpu: 50m
              memory: 100Mi
          readinessProbe:
            httpGet:
              path: /api/healthz
              port: 3000
          livenessProbe:
            httpGet:
              path: /api/healthz
              port: 3000
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
      imagePullSecrets:
        - name: aws-ecr-secret
