apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: my-site-
resources:
  - certificate.yaml
  - deployment.yaml
  - http-route.yaml
  - service.yaml
labels:
- includeSelectors: true
  pairs:
    app: my-site
    env: lab
    tier: frontend
