@import "./variables.module.scss";

.Main {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  min-height: 100vh;
}

.Copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}
