// Fonts
$font-family: "Source Sans Pro";

// Colors
$background-color: #222830;
$primary-color: #313640;
$secondary-color: #76acae;
$text-color: #eeeeee;

// Shadows

// Media Queries

:export {
  fontFamily: $font-family;
  backgroundColor: $background-color;
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  textColor: $text-color;
}
