apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/
images:
  - name: my-site-image
    newName: 545150671558.dkr.ecr.us-east-1.amazonaws.com/my-site
    newTag: latest
labels:
  - includeSelectors: true
    pairs:
      env: production
patches:
  - path: certificate.yaml
  - path: deployment.yaml
  - path: http-route.yaml
