@import "../variables.module.scss";

.Main {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  color: $background-color;
  min-height: 100vh;
  width: 100vw;
}

.Section {
  display: flex;
  margin: 2rem;
  text-transform: uppercase;
}

.SectionLinkItem {
  display: flex;
  border: 2px solid black;
  padding: 3rem;
  border-radius: 5px;
  cursor: pointer;
}

.BlogPostCreate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  color: $text-color;
  border-radius: 5px;
  width: 10rem;
  padding: 0.5rem;
  margin: 0 0 0 1rem;
}

.BlogPost {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 1rem;
}
